* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

.products {
    flex: 1;
    padding-left: 20px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    row-gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: auto;
    height: 60%;
}
.product h3 {
    margin: 10px 0;
}

.product p {
    color: #ff6f00;
    font-size: 18px;
}

.product button {
    background-color: #ff6f00;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.product button:hover {
    background-color: #e65c00;
}

.footer-container {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
}

.sidebar-container {
    height: 500px;
}
